body {
    position: relative;
}

.post {
    width: 80%;
    position: relative;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid gray;
}
p::first-letter {
    text-transform: uppercase;
}

h3 {
    color:hotpink;
}